body {
  background-color: #222222;
  color: #eeeeee;
}

.center form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  font-size: 2em;
  color: red;
}

button:hover {
  cursor: pointer;
}

form * {
  font-size: 5em;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button[type="submit"] {
  width: 100%;
}
